<h2>Disney Land</h2>
<h3>Atractions</h3>
<h4>休止予定アトラクション</h4>
<div *ngFor="let atraction of termSetPark.termSetLand.termSetAtractionList">
  <div *ngIf="!atraction.isScheduledEndDate()">
    <p>アトラクション名：{{atraction.name}}</p>
    <p>休止予定期間一覧</p>
    <ul *ngFor="let restTerm of atraction.restTerms">
      <li>{{restTerm.getStartDisplayValue()}}〜{{restTerm.getEndDisplayValue()}}</li>
    </ul>
  </div>
</div>
<h4>終了予定アトラクション</h4>
<div *ngFor="let atraction of termSetPark.termSetLand.termSetAtractionList">
  <div *ngIf="atraction.isScheduledEndDate()">
    <p>アトラクション名：{{atraction.name}}</p>
    <p>終了予定日：{{atraction.endDate.value.getDisplayValue()}}</p>
    <div *ngIf="atraction.restTerms.length > 0">
      <p>その他の休止予定期間一覧</p>
      <ul *ngFor="let restTerm of atraction.restTerms">
        <li>{{restTerm.getStartDisplayValue()}}〜{{restTerm.getEndDisplayValue()}}</li>
      </ul>
    </div>
  </div>
</div>
<h3>Shows</h3>
<h4>休止予定ショー</h4>
<div *ngFor="let show of termSetPark.termSetLand.termSetShowList">
  <div *ngIf="!show.isScheduledEndDate()">
    <p>ショー名：{{show.name}}</p>
    <p>休止予定期間一覧</p>
    <ul *ngFor="let restTerm of show.restTerms">
      <li>{{restTerm.getStartDisplayValue()}}〜{{restTerm.getEndDisplayValue()}}</li>
    </ul>
  </div>
</div>
<h4>終了予定ショー</h4>
<div *ngFor="let show of termSetPark.termSetLand.termSetShowList">
  <div *ngIf="show.isScheduledEndDate()">
    <p>ショー名：{{show.name}}</p>
    <p>終了予定日：{{show.endDate.value.getDisplayValue()}}</p>
    <div *ngIf="show.restTerms.length > 0">
      <p>その他の休止予定期間一覧</p>
      <ul *ngFor="let restTerm of show.restTerms">
        <li>{{restTerm.getStartDisplayValue()}}〜{{restTerm.getEndDisplayValue()}}</li>
      </ul>
    </div>
  </div>
</div>
<h2>Disney Sea</h2>
<h3>Atractions</h3>
<h4>休止予定アトラクション</h4>
<div *ngFor="let atraction of termSetPark.termSetSea.termSetAtractionList">
  <div *ngIf="!atraction.isScheduledEndDate()">
    <p>アトラクション名：{{atraction.name}}</p>
    <p>休止予定期間一覧</p>
    <ul *ngFor="let restTerm of atraction.restTerms">
      <li>{{restTerm.getStartDisplayValue()}}〜{{restTerm.getEndDisplayValue()}}</li>
    </ul>
  </div>
</div>
<h4>終了予定アトラクション</h4>
<div *ngFor="let atraction of termSetPark.termSetSea.termSetAtractionList">
  <div *ngIf="atraction.isScheduledEndDate()">
    <p>アトラクション名：{{atraction.name}}</p>
    <p>終了予定日：{{atraction.endDate.value.getDisplayValue()}}</p>
    <div *ngIf="atraction.restTerms.length > 0">
      <p>その他の休止予定期間一覧</p>
      <ul *ngFor="let restTerm of atraction.restTerms">
        <li>{{restTerm.getStartDisplayValue()}}〜{{restTerm.getEndDisplayValue()}}</li>
      </ul>
    </div>
  </div>
</div>
<h3>Shows</h3>
<h4>休止予定ショー</h4>
<div *ngFor="let show of termSetPark.termSetSea.termSetShowList">
  <div *ngIf="!show.isScheduledEndDate()">
    <p>ショー名：{{show.name}}</p>
    <p>休止予定期間一覧</p>
    <ul *ngFor="let restTerm of show.restTerms">
      <li>{{restTerm.getStartDisplayValue()}}〜{{restTerm.getEndDisplayValue()}}</li>
    </ul>
  </div>
</div>
<h4>終了予定ショー</h4>
<div *ngFor="let show of termSetPark.termSetSea.termSetShowList">
  <div *ngIf="show.isScheduledEndDate()">
    <p>ショー名：{{show.name}}</p>
    <p>終了予定日：{{show.endDate.value.getDisplayValue()}}</p>
    <div *ngIf="show.restTerms.length > 0">
      <p>その他の休止予定期間一覧</p>
      <ul *ngFor="let restTerm of show.restTerms">
        <li>{{restTerm.getStartDisplayValue()}}〜{{restTerm.getEndDisplayValue()}}</li>
      </ul>
    </div>
  </div>
</div>