<!--The content below is only a placeholder and can be replaced.-->
<h1>Disney Rest List</h1>
<nav>
  <div>
  <label><input [(ngModel)]="dateSetDate" id="dateSetDate">に休止している施設を</label>
  <button [routerLink]="'/date-set/' + dateSetDate" routerLinkActive="active">検索!!</button>
  </div>
  <div>
  <label><input [(ngModel)]="termSetStartDate" id="termSetStartDate">から</label>
  <label><input [(ngModel)]="termSetEndDate" id="termSetEndDate">の間に休止する日がある施設を</label>
  <button [routerLink]="'/term-set/' + termSetStartDate + '/' + termSetEndDate" routerLinkActive="active">検索!!</button>
  </div>
</nav>
<router-outlet></router-outlet>

